@import url("https://fonts.googleapis.com/css?family=Arsenal|Montserrat+Alternates");

:root {
    --sticker: #ffda1e;
    --button-delete: rgba(226, 14, 13, 0.9);
    --button-important: rgba(23, 186, 18, 0.95);
    --button-open-label: rgba(39, 109, 186, 0.95);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    font-weight: 500;
    font-size: 15px;
    color: #282828;
    text-align: center;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: black;
}

.content {
    height: 100%;
    width: 900px;
    margin: 0 auto;
}

.sticker {
    margin: 20px;
    width: 250px;
    background: var(--sticker);
    padding: 10px;
    box-shadow: 5px 7px 6px -2px rgba(1, 1, 1, 0.5);
}

.sticker-list {
    text-decoration: none;
    cursor: pointer;
}

.sticker-list-done {
    text-decoration: line-through;
}

.sticker-important {
    color: blue;
    font-weight: bold;
}

.sticker-button-panel {
    float: right;
}

.open-label {
    height: 20px;
    width: 25px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--sticker);
    border: 2px solid var(--button-open-label);
    cursor: pointer;
}

.important {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--sticker);
    border: 2px solid var(--button-important);
    cursor: pointer;
}

.deleted {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--sticker);
    border: 2px solid var(--button-delete);
    cursor: pointer;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.sticker-label-text {
    display: none;
    width: 220px;
    height: 100px;
    background-color: var(--sticker);
    margin-top: 5px;
    padding: 4px;
    border: none;
    border-top: 1px solid #b8b8b8;
    font-family: 'Montserrat Alternates', sans-serif, 'Arsenal', sans-serif, Arial;
    color: #000;
    resize: none;
}

.text-open {
    display: block;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

li {
    margin: 5px 4px 4px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b8b8b8;
}